<div class="row">
    <h1>Hard skills</h1>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [imageSrc]="'../assets/html-1.png'"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [imageSrc]="'../assets/css.png'"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [imageSrc]="'../assets/js-1.png'"
        ></circle-progress>
    </div>
    <h1>Soft skills</h1>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="95"
            [imageSrc]="'../assets/teamwork.png'"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [imageSrc]="'../assets/english.png'"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [imageSrc]="'../assets/git.png'"
        ></circle-progress>
    </div>
</div>
